<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>問題追加</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-5">
      <div class="container my-5">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="container mt-3">
          {% for message in messages %}
          <div class="alert alert-warning" role="alert">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      <h2>新規問題追加</h2>
      <form action="{{ url_for('admin_add_problem') }}" method="post">
        <div class="mb-3">
          <label class="form-label">問題のタイトル</label>
          <input name="title" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">問題の説明</label>
          <textarea name="description" class="form-control"></textarea>
        </div>

        <!-- テストケース1 -->
        <h5>テストケース1（必須）</h5>
        <div class="mb-3">
          <label class="form-label">入力データ</label>
          <textarea name="input_data1" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">期待する出力</label>
          <textarea
            name="expected_output1"
            class="form-control"
            required
          ></textarea>
        </div>

        <!-- テストケース2 -->
        <h5>テストケース2（任意）</h5>
        <div class="mb-3">
          <label class="form-label">入力データ</label>
          <textarea name="input_data2" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">期待する出力</label>
          <textarea
            name="expected_output2"
            class="form-control"
          ></textarea>
        </div>

        <!-- テストケース3 -->
        <h5>テストケース3（任意）</h5>
        <div class="mb-3">
          <label class="form-label">入力データ</label>
          <textarea name="input_data3" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">期待する出力</label>
          <textarea name="expected_output3" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">問題を追加する</button>
        <a href="{{ url_for('admin_problems') }}" class="btn btn-secondary"
          >キャンセル</a
        >
      </form>
    </div>
  </body>
</html>
